.banner {
    position: relative;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%
}

.banner.home {
    background-position: center top;
    background-image: url("./assets/images/me.jpg");
}

.banner.section-1 {
    background-image: url("https://images.unsplash.com/photo-1604067276420-ed543c169968");
}

.banner.section-2 {
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1495476479092-6ece1898a101");
}

.banner.foot {
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd");
}