body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .home__snap-page {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
} */